name: 'Close stale issues'
on:
  schedule:
    - cron: '30 1 * * *'

permissions:
  issues: write

jobs:
  stale-issues:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          days-before-issue-stale: -1
          days-before-issue-close: 7
          days-before-pr-stale: -1
          days-before-pr-close: -1
          stale-issue-label: 'waiting for feedback'
          close-issue-message: 'This issue has been automatically closed due to inactivity. Please feel free to reopen it if you are still experiencing the problem.'
